@use "../../assets/global-styles/variables.scss" as *;

.game-btn-container {
  display: flex;
  gap: 4rem;
  position: relative;
}

.game-btn {
  all: unset;
  cursor: pointer;
  position: absolute;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    background: white;
    border-top: 5px solid rgb(216, 212, 212);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    @media(min-width: 60rem) {
      width: 7rem;
      height: 7rem;
    }
  }

  &::after {
    content: "";
      position: absolute;
      border-radius: 50%;
      width: 7rem;
      height: 7rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -2;
      @media(min-width: 60rem) {
        width: 9.5rem;
        height: 9.5rem;
      }
  }
}

.rock::after {
  background: $rock;
  border-bottom: 5px solid hsl(349, 71%, 45%);
}

.paper::after {
  background: $paper;
  border-bottom: 5px solid hsl(230, 89%, 59%);
}

.scissors::after {
  background: $scissors;
  border-bottom: 5px solid hsl(39, 89%, 46%);
}

.lizard::after {
  background: $lizard;
  border-bottom: 5px solid hsl(261, 73%, 57%);
}

.spock::after {
  background: $spock;
  border-bottom: 5px solid hsl(189, 59%, 50%);
}

.game-btn:hover {
  animation: click-pulse 1.5s ease infinite;
}

.game-img {
  max-width: 35px;
  @media(min-width: 50rem) {
    max-width: 100%;
  }
}

@keyframes click-pulse {
  0% {
      box-shadow: 0 0 80px 40px rgba(0, 0, 0, 0.3);
  }
  15% {
      transform: scale(0.95);
  }
  35% {
      transform: scale(1);
  }
  100% {
      box-shadow: 0 0 80px 40px rgba(0, 0, 0, 0.3);
  }
}