.game-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  min-height: 100vh;
}

.game-btn-container {
  position: relative;
  align-self: center;
}

.game-bg {
  max-width: 80%;
  margin: 0 auto;
  @media(min-width: 60rem) {
    max-width: 100%;
  }
}

.rules-wrapper {
  width: 85%;
  max-width: 50rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  @media(min-width: 60rem) {
    justify-content: flex-end;
  }
  @media(min-width: 90rem) {
    max-width: 100%;
  }
}