.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-btn-container {
  position: relative;
}

.somestuff {
  color: white;
  font-size: 2rem;
  padding-top: 6rem;
}