@use "../../assets/global-styles/variables.scss" as *;

.rules-btn {
  background: transparent;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  letter-spacing: 3px;
  margin-top: 12rem;
  padding: .5rem 2.25rem;
}

.rules-modal {
  display: none;
}

.rules-modal.active {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  z-index: 1000;
  inset: 0;
  @media(min-width: 50rem) {
    border-radius: 10px;
    width: 26rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
  }
}

.modal-title {
  color: $dark-text;
  font-size: 2rem;
  text-transform: uppercase;
}

.close-btn {
  cursor: pointer;
}