@use "../../assets/global-styles/variables.scss" as *;

.rules-btn {
  background: transparent;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  letter-spacing: 3px;
  margin-top: 12rem;
  padding: .5rem 2.25rem;
  transform: scale(1);
  transition: all .2s ease-in;

  &:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 20px 10px hsla(0, 0%, 100%, .15);
  }
}

.rules-modal {
  display: none;
}

.rules-modal.active {
  background: white;
  box-shadow: 0 0 100px 800px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1000;
  padding: 2rem;
  border-radius: 10px;
  width: min(90%,26rem);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.rules-modal > * {
  width: 100%;
}

.modal-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.75rem;
}

.modal-title {
  color: $dark-text;
  font-size: 2rem;
  text-transform: uppercase;
}

.close-btn {
  cursor: pointer;
  transform: scale(1);
  transition: all .2s ease-in;

  &:hover {
    transform: scale(1.25);
  }
}

.rules-img {
  padding-inline: 1rem;
}